.Title {
  font-size: 4rem;
  color: #fff;
  background: linear-gradient(to bottom right, #191BA9, #7D57B2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font: 400 1.8rem/1.6 Muli, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {
  transition: color .3s ease, background .3s ease, box-shadow .3s ease;
}

.App-logo {
  height: 5em;
}

.App-header {
  background-color: #191BA9;
  height: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-wrapper {
  min-height: 80%;
}